body {
  padding: 0;
  margin: 0;
  font-family: FiraSans;
  text-rendering: optimizeLegibility;
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
}

html {
  padding: 0;
  margin: 0;
  font-family: FiraSans;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #000;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Regular.woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Italic.woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

input:focus {
  outline: none;
}

input:focus:not {
  box-shadow: none;
  border-bottom: none;
  outline: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

textarea:focus {
  outline: none;
  font-family: inherit;
}