.gradient1 {
  background-image: url(../assets/gradient1.png);
  width: 1400px;
  height: 2000px;
  position: absolute;
  top: -700px;
  left: -820px;
  z-index: 0;
}

.gradient2 {
  background-image: url(../assets/gradient2.png);
  width: 800px;
  height: 1400px;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  height: 180px;
  width: 76vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.headerLogo {
  background-image: url(../assets/logo-reanimate.png);
  width: 240px;
  height: 87px;
  background-size: contain;
  background-repeat: no-repeat;
}

.headerHamburger {
  background-image: url(../assets/hamburger.png);
  width: 91px;
  height: 97px;
  display: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hoverMenu {
  position: fixed;
  background-color: #000;
  height: 100%;
  width: 40vw;
  z-index: 9;
  top: 0;
  right: -101vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  overflow-y: auto;
  transition: right 1s ease;
  padding: 0 30px 0 0;
}

.hoverMenu.open {
  right: -1vw;
}

.menuClose {
  background-image: url(../assets/x-pink.png);
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 50px 30px 30px 0;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.menuClose:hover {
  background-image: url(../assets/x-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menuLinks {
  margin: 15px 15px 0 0;
}

.menuTopic {
  margin: 0 15px 25px 0;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.menuTopic:hover {
  color: #E8336A;
}

.menuLoginButton {
  background-image: url(../assets/loginbutton.png);
  width: 178px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
  margin: 50px 0 50px 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.menuLoginButton:hover {
  background-image: url(../assets/loginbutton-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menuSocials {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 30px 0 0;
}

.headerTopicsContainer {
  display: flex;
  align-items: center;
}

.headerTopic {
  font-size: 18px;
  margin: 0 35px 0 0;
  cursor: pointer;
  font-family: FiraSans;
}

.headerTopic:hover {
  color: #E8336A;
  font-weight: bold;
}

.headerLoginButton {
  background-image: url(../assets/loginbutton.png);
  width: 178px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.headerLoginButton:hover {
  background-image: url(../assets/loginbutton-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.mainFirstSection {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.mainLeft {
  margin: 0 0 0 100px;
}

.mainLeft p {
  font-size: 24px;
  line-height: 30px;
  width: 540px;
  margin: -40px 0 80px 0;
}

.mainText {
  background-image: url(../assets/maintext.png);
  width: 626px;
  height: 287px;
  margin: 100px 0 50px 0;
  z-index: 1;
}

.mainContrateButton {
  background-image: url(../assets/contratebutton.png);
  width: 375px;
  height: 76px;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainContrateButton:hover {
  background-image: url(../assets/contratebutton-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.mainRight {
  width: 814px;
}

.mainAutomatizeArt {
  background-image: url(../assets/automatizese.png);
  width: 502px;
  height: 571px;
  margin: 70px 0 0 250px;
  position: absolute;
  z-index: 1;
}

.mainStars {
  background-image: url(../assets/stars.png);
  width: 126px;
  height: 30px;
  margin: 100px auto 0 auto;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.qualitiesContainer {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  z-index: 1;
  margin: 100px auto 0 auto;
  font-family: FiraSans;
}

.qualitiesContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualitiesContainer h2 {
  text-align: center;
  margin: 30px 0 -20px 0;
  font-size: 32px;
  line-height: 38px;
}

.qualitiesContainer p {
  width: 313px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}

.iconCheck {
  background-image: url(../assets/icon_check.png);
  width: 98px;
  height: 89px;
  margin: 0 auto 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconProject {
  background-image: url(../assets/icon_project.png);
  width: 87px;
  height: 89px;
  margin: 0 auto 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconClock {
  background-image: url(../assets/icon_clock.png);
  width: 83px;
  height: 84px;
  margin: 0 auto 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.gradient3 {
  background-image: url(../assets/gradient3.png);
  width: 2380px;
  height: 1700px;
  position: absolute;
  top: 1100px;
  left: -700px;
}

.gradient4 {
  background-image: url(../assets/gradient4.png);
  width: 1500px;
  height: 1800px;
  position: absolute;
  top: 2200px;
  right: 0px;
}

.modulesContainerExternal {
  z-index: 0;
}

.modulesContainer {
  width: 80vw;
  margin: 100px auto 0 auto;
  background-color:rgba(245, 245, 245, 0.5);
  border-radius: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 100px;
  box-sizing: border-box;
  font-family: FiraSans;
}

.modulesContainer h1 {
  color: #E8336A;
  font-size: 48px;
  margin: 0 0 -20px 0;
  line-height: 48px;
}

.modulesContainerText1 {
  font-size: 32px;
  line-height: 38px;
}

.logosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0 30px 0;
}

.logoMM {
  background-image: url(../assets/logo_mm.png);
  width: 422px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logoRA {
  background-image: url(../assets/logo_ra.png);
  width: 381px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 2vw;
}

.logoDA {
  background-image: url(../assets/logo_da.png);
  width: 372px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.modulesContainerText2 {
  font-size: 24px;
  width: 470px;
  text-align: center;
}

.modulesDetails p {
  font-size: 24px;
  width: 470px;
}

.modulesDetailsContainerMM {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerRA {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerDA {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerInfos {
  padding: 30px 0 0 0;
}

.pcMM {
  background-image: url(../assets/pc-mm.png);
  width: 658px;
  height: 442px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pcRA {
  background-image: url(../assets/pc-ra.png);
  width: 658px;
  height: 442px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pcDA {
  background-image: url(../assets/pc-da.png);
  width: 658px;
  height: 442px;
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonMM {
  background-image: url(../assets/button-mm.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonMM:hover {
  background-image: url(../assets/button-mm-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonRA {
  background-image: url(../assets/button-ra.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonRA:hover {
  background-image: url(../assets/button-ra-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonDA {
  background-image: url(../assets/button-da.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonDA:hover {
  background-image: url(../assets/button-da-white.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.galleryModal {
  position: fixed;
  background-color: rgba(245, 245, 245, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.modalBG {
  background-image: url(../assets/gradient6.png);
  width: 1200px;
  height: 500px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.modalClose {
  background-image: url(../assets/x.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.videoMM, .videoRA, .videoDA {
  width: 50%;
  max-width: 1000px;
  height: auto;
  z-index: 2;
  border: 30px solid transparent;
}

.aboutPoint {
  background-image: url(../assets/about-point.png);
  width: 922px;
  height: 258px;
  margin: 100px 0 -225px 0;
  cursor: pointer;
  transition: 1.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutPoint:hover {
  transform: scale(1.05);
}

.carousel {
  margin: 200px 0 100px 0;
}

.carouselTitle {
  margin: 0 auto 50px auto;
  color: #E8336A;
  font-size: 48px;
  font-family: FiraSans;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.clientsGallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto 20px auto;
  height: 450px;
}

.clientsSwipe {
  margin: 0 0 0 50px;
}

.client1 {
  background-image: url(../assets/clients/client1.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client2 {
  background-image: url(../assets/clients/client2.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client3 {
  background-image: url(../assets/clients/client3.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client4 {
  background-image: url(../assets/clients/client4.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client5 {
  background-image: url(../assets/clients/client5.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client6 {
  background-image: url(../assets/clients/client6.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client7 {
  background-image: url(../assets/clients/client7.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client8 {
  background-image: url(../assets/clients/client8.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client9 {
  background-image: url(../assets/clients/client9.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client10 {
  background-image: url(../assets/clients/client10.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client11 {
  background-image: url(../assets/clients/client11.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client12 {
  background-image: url(../assets/clients/client12.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client13 {
  background-image: url(../assets/clients/client13.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client14 {
  background-image: url(../assets/clients/client14.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client15 {
  background-image: url(../assets/clients/client15.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client16 {
  background-image: url(../assets/clients/client16.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client17 {
  background-image: url(../assets/clients/client17.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client18 {
  background-image: url(../assets/clients/client18.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client19 {
  background-image: url(../assets/clients/client19.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client20 {
  background-image: url(../assets/clients/client20.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client21 {
  background-image: url(../assets/clients/client21.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client22 {
  background-image: url(../assets/clients/client22.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client23 {
  background-image: url(../assets/clients/client23.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client24 {
  background-image: url(../assets/clients/client24.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client25 {
  background-image: url(../assets/clients/client25.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client26 {
  background-image: url(../assets/clients/client26.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client27 {
  background-image: url(../assets/clients/client27.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client28 {
  background-image: url(../assets/clients/client28.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client29 {
  background-image: url(../assets/clients/client29.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client30 {
  background-image: url(../assets/clients/client30.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client31 {
  background-image: url(../assets/clients/client31.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client32 {
  background-image: url(../assets/clients/client32.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client33 {
  background-image: url(../assets/clients/client33.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client34 {
  background-image: url(../assets/clients/client34.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client35 {
  background-image: url(../assets/clients/client35.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client36 {
  background-image: url(../assets/clients/client36.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client37 {
  background-image: url(../assets/clients/client37.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client38 {
  background-image: url(../assets/clients/client38.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client39 {
  background-image: url(../assets/clients/client39.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client40 {
  background-image: url(../assets/clients/client40.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client41 {
  background-image: url(../assets/clients/client41.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client42 {
  background-image: url(../assets/clients/client42.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client43 {
  background-image: url(../assets/clients/client43.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client44 {
  background-image: url(../assets/clients/client44.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client45 {
  background-image: url(../assets/clients/client45.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client46 {
  background-image: url(../assets/clients/client46.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client47 {
  background-image: url(../assets/clients/client47.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client48 {
  background-image: url(../assets/clients/client48.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client49 {
  background-image: url(../assets/clients/client49.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client50 {
  background-image: url(../assets/clients/client50.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client51 {
  background-image: url(../assets/clients/client51.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client52 {
  background-image: url(../assets/clients/client52.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client53 {
  background-image: url(../assets/clients/client53.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client54 {
  background-image: url(../assets/clients/client54.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client55 {
  background-image: url(../assets/clients/client55.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client56 {
  background-image: url(../assets/clients/client56.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client57 {
  background-image: url(../assets/clients/client57.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client58 {
  background-image: url(../assets/clients/client58.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client59 {
  background-image: url(../assets/clients/client59.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client60 {
  background-image: url(../assets/clients/client60.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client61 {
  background-image: url(../assets/clients/client61.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client62 {
  background-image: url(../assets/clients/client62.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client63 {
  background-image: url(../assets/clients/client63.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client64 {
  background-image: url(../assets/clients/client64.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client65 {
  background-image: url(../assets/clients/client65.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client66 {
  background-image: url(../assets/clients/client66.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client67 {
  background-image: url(../assets/clients/client67.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client68 {
  background-image: url(../assets/clients/client68.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client69 {
  background-image: url(../assets/clients/client69.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client70 {
  background-image: url(../assets/clients/client70.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client71 {
  background-image: url(../assets/clients/client71.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client72 {
  background-image: url(../assets/clients/client72.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client73 {
  background-image: url(../assets/clients/client73.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client74 {
  background-image: url(../assets/clients/client74.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client75 {
  background-image: url(../assets/clients/client75.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client76 {
  background-image: url(../assets/clients/client76.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client77 {
  background-image: url(../assets/clients/client77.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client78 {
  background-image: url(../assets/clients/client78.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client79 {
  background-image: url(../assets/clients/client79.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client80 {
  background-image: url(../assets/clients/client80.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client81 {
  background-image: url(../assets/clients/client81.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client82 {
  background-image: url(../assets/clients/client82.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client83 {
  background-image: url(../assets/clients/client83.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.client84 {
  background-image: url(../assets/clients/client84.png);
  width: 205px;
  height: 90px;
  margin: 0 0 20px 0;
}

.footer {
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: FiraSans;
  margin: 0 0 20px 0;
}

.gradient5 {
  background-image: url(../assets/gradient5.png);
  width: 2560px;
  height: 600px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  z-index: 1;
}

.footerTop p {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.footer p:hover {
  color: #E8336A;
  font-weight: bold;
}

.footerLogoLinks {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-around;
}

.footerLogo {
  background-image: url(../assets/logo-reanimate-branco.png);
  width: 208px;
  height: 76px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.footerInput {
  width: 557px;
  height: 58px;
  border-radius: 29px;
  border: 1px solid #E8336A;
  background-color:rgba(245, 245, 245, 0.5);
  color: #FFFFFF;
  font-size: 18px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin: 0 0 15px 0;
}

.footerButton {
  background-image: url(../assets/inscreverbutton.png);
  width: 182px;
  height: 42px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.footerButton:hover {
  background-image: url(../assets/inscreverbutton-pink.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footerBottom {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLine {
  width: 65vw;
  height: 1px;
  background-color: #FFFFFF;
  margin: 25px 0 25px 0;
}

.footerSocials {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 0;
}

.footerFace {
  background-image: url(../assets/logo-facebook.png);
  width: 46px;
  height: 46px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;

}

.footerFace:hover {
  background-image: url(../assets/logo-facebook-pink.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footerInsta {
  background-image: url(../assets/logo-instagram.png);
  width: 47px;
  height: 47px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.footerInsta:hover {
  background-image: url(../assets/logo-instagram-pink.png);
  background-size: contain;
  background-repeat: no-repeat;
}


.footerLinkedin {
  background-image: url(../assets/logo-linkedin.png);
  width: 47px;
  height: 47px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.footerLinkedin:hover {
  background-image: url(../assets/logo-linkedin-pink.png);
  background-size: contain;
  background-repeat: no-repeat;
}


.footerLegal {
  font-size: 14px;
  user-select: none;
  margin: 25px 0 0 0;
}

@media (max-width: 1680px) {

  .header {
    width: 84vw;
  }

  .headerTopic {
    margin: 0 25px 0 0;
  }

  .footerTop {
    width: 70vw;
  }

}

@media (max-width: 1500px) {

  .gradient3 {
    top: 900px;
    left: -1020px;
  }

  .gradient4 {
    top: 2000px;
    right: -76px;
    transform: scale(0.9);
  }

  .header {
    width: 90vw;
  }

  .headerTopic {
    margin: 0 20px 0 0;
  }

  .mainAutomatizeArt {
    margin: 70px 20px 0 0px;
    position: absolute;
    right: 40px;
  }

  .modulesContainerExternal {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    margin-top: -50px;
    margin-bottom: -150px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 100vw;
  }

  .galleryModal {
    position: fixed;
    background-color: rgba(245, 245, 245, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
  }
  
  .modalBG {
    background-image: url(../assets/gradient6.png);
    width: 1200px;
    height: 500px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  
  .modalClose {
    background-image: url(../assets/x.png);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
  }
  
  .videoMM, .videoRA, .videoDA {
    width: 70%;
    height: auto;
    z-index: 2;
    border: 30px solid transparent;
  }
  
  .carousel {
    margin-bottom: 150px;
  }

  .footerTop {
    width: 75vw;
  }

  .footerLine {
    width: 80vw;
    margin: 25px 0 25px 0;
  }

}

@media (max-width: 1366px) {

  .gradient3 {
    top: 900px;
    left: -1100px;
  }

  .gradient4 {
    top: 1850px;
    right: -82px;
    transform: scale(0.9);
  }

  .header {
    width: 90vw;
  }

  .headerTopic {
    margin: 0 15px 0 0;
  }

  .mainLeft {
    margin: 0 0 0 90px;
  }

  .mainAutomatizeArt {
    right: 10px;
  }

  .qualitiesContainer {
    transform: scale(0.95);
  }

  .modulesContainerExternal {
    transform: translateX(-50%) scale(0.85);
    margin-top: -120px;
    margin-bottom: -250px;
  }

  .carousel {
    margin-top: 300px;
    margin-bottom: 150px;
  }

  .carouselClients {
    margin: 0 auto 0 auto;
    transform: scale(1);
    width: 64vw;
  }

  .footerTop {
    margin: 0 auto;
    width: 80vw;
  }

}

@media (max-width: 1280px) {

  .gradient3 {
    top: 700px;
    left: -1090px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1650px;
    right: -87px;
    transform: scale(0.9);
  }

  .header {
    width: 90vw;
  }

  .headerTopic {
    margin: 0 14px 0 0;
  }

  .mainLeft {
    margin: -50px 0 0 70px;
    transform: scale(0.9);
  }

  .mainAutomatizeArt {
    right: 10px;
    margin-top: 30px;
    transform: scale(0.9);
  }

  .mainStars {
    margin: 60px auto 0 auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.85);
  }

  .modulesContainerExternal {
    transform: translateX(-55%) scale(0.8);
    margin-top: -200px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 113vw;
  }

  .carousel {
    transform: scale(1);
    margin-bottom: 150px;
    margin-top: 200px;
  }

  .carouselClients {
    margin: 0 auto 0 auto;
    transform: scale(1);
    width: 69vw;
  }

  .footerTop {
    width: 80vw;
    margin: 0 0 0 120px;
  }

  .footerLogoLinks {
    width: 430px;
  }

}

@media (max-width: 1210px) and (min-width: 1025px) {

  .header {
    transform: scale(0.9);
    width: 95vw;
  }

  .footerTop {
    width: 86vw;
    margin: 0 auto;
  }

}

@media (max-width: 1140px) and (min-width: 1025px) {
  
  .header {
    width: 100vw;
    margin: 0 0 0 0px;
  }

  .mainLeft {
    margin: -75px 0 0 20px;
    transform: scale(0.8);
  }
  
  .mainAutomatizeArt {
    margin: 0px 0 0 250px;
    transform: scale(0.8);
  }

  .qualitiesContainer {
    transform: scale(0.82);
    margin-left: -15px;
  }

}

@media (max-width: 1090px) and (min-width: 1025px) {

  .gradient4 {
    top: 1620px;
    right: -150px;
    transform: scale(0.8);
  }

  .header {
    transform: scale(0.85);
    width: 110vw;
    margin: 0 0 0 -50px;
  }

  .qualitiesContainer {
    transform: scale(0.8);
    margin: 50px 0 0 -40px;
  }

  .carousel {
    transform: scale(1);
    margin-bottom: 150px;
    margin-top: 200px;
  }

  .carouselClients {
    margin: 0 auto 0 auto;
    transform: scale(1);
    width: 81vw;
  }

  .footerTop {
    width: 95vw;
    margin: 0 auto;
    transform: scale(0.9);
  }

}

@media (max-width: 1024px) {

  .gradient2 {
    top: 0px;
    right: -80px;
    transform: scale(0.8);
  }

  .gradient3 {
    top: 350px;
    left: -1400px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1280px;
    right: -156px;
    transform: scale(0.8);
  }

  .header {
    width: 85vw;
    z-index: 1;
  }

  .headerHamburger {
    display: flex;
  }

  .headerTopicsContainer {
    display: none;
  }

  .mainLeft {
    margin: -80px 0 0 5px;
    transform: scale(0.75);
  }

  .mainAutomatizeArt {
    right: -30px;
    margin-top: -10px;
    transform: scale(0.75);
  }

  .mainStars {
    margin: 60px auto 0 auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.7);
    margin-left: -80px;
    margin-top: 50px;
    z-index: 0;
  }

  .modulesContainerExternal {
    transform: translateX(-62.5%) scale(0.65);
    margin-top: -390px;
    margin-bottom: -250px;
  }

  .videoMM, .videoRA, .videoDA {
    width: 80%;
    height: auto;
    z-index: 2;
    border: 30px solid transparent;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 140vw;
  }

  .aboutPoint {
    background-image: url(../assets/about-point.png);
    width: 922px;
    height: 258px;
    margin: 100px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.3);
  }
  
  .aboutPoint:hover {
    transform: scale(1.35);
  }

  .carousel {
    transform: scale(1);
    margin-bottom: 150px;
    margin-top: 50px;
  }

  .carouselClients {
    margin: 0px auto 0 auto;
    transform: scale(1);
    width: 85vw;
  }

  .footer {
    z-index: 0;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    transform: scale(0.85);
    margin: 30px auto 0 auto;
  }

  .footerLogoLinks {
    width: 450px;
  }

  .footerLine {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .footerSocials {
    transform: scale(0.9);
    margin: -10px 0 -10px 0;
  }

}

@media (max-width: 960px) and (min-width: 769px) {

  .gradient3 {
    top: 420px;
    left: -1400px;
    transform: scale(0.9);
  }

  .mainLeft {
    margin: -80px 0 0 90px;
    transform: scale(1);
  }

  .mainAutomatizeArt {
    display: none;
  }

  .mainStars {
    margin: 90px auto -20px auto;
    z-index: 1;
  }

  .qualitiesContainer {
    width: 100vw;
    transform: scale(0.85);
    margin: 70px 0 0px 0px;
  }

  .footerTop {
    width: 110vw;
    transform: scale(0.8);
    margin: 0px 0 0 0;
  }

  .footerLogoLinks {
    width: 450px;
  }

}

@media (max-width: 800px) and (min-width: 769px) {

  .qualitiesContainer {
    width: 120vw;
    transform: scale(0.73);
    margin: 70px 0 0px -75px;
  }

  .modulesDetails {
    width: 115%;
    transform: scale(0.95);
  }

  .aboutPoint {
    transform: scale(1.1);
  }

  .carousel {
    transform: scale(1);
    margin-bottom: 150px;
    margin-top: 10px;
  }

  .carouselClients {
    margin: 0px auto 0 auto;
    transform: scale(0.9);
    width: 100vw;
  }

  .footerTop {
    width: 125vw;
    transform: scale(0.75);
    margin: 30px 0 0 0;
  }

  .footerLogoLinks {
    width: 420px;
  }

}

@media (max-width: 768px) {

  .gradient2 {
    top: 50px;
    right: -160px;
    transform: scale(0.6);
  }

  .gradient3 {
    top: 420px;
    left: -1400px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1200px;
    right: -380px;
    transform: scale(0.5);
  }

  .gradient5 {
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
  }

  .mainLeft {
    margin: -80px 0 0 70px;
    transform: scale(1);
  }

  .mainAutomatizeArt {
    display: none;
  }

  .mainStars {
    margin: 80px auto -20px auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.7);
    width: 125vw;
    margin: 50px 0 0 -100px;
    
  }

  .modulesContainerExternal {
    transform: translateX(-72%) scale(0.5);
    margin-top: -600px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 188vw;
  }

  .modulesContainerText2 {
    font-size: 32px;
    width: 610px;
  }

  .modulesDetails {
    width: 100%;
    transform: scale(1.1);
    margin: 50px auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .videoMM, .videoRA, .videoDA {
    width: 90%;
    height: auto;
    z-index: 2;
    border: 30px solid transparent;
  }

  .carousel {
    transform: scale(1);
    margin: -200px auto 150px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 auto 0 auto;
    transform: scale(0.9);
    width: 100vw;
  }

  .footer {
    transform: scale(1);
  }

  .footerTop {
    width: 123vw;
    transform: scale(0.75);
    margin: 0 0 0 0;
  }

  .footerLogoLinks {
    width: 370px;
  }

  .footerLine {
    margin-top: -10px;
  }

  .footerSocials{
    transform: scale(0.8);
    margin: -20px 0 -10px 0;
  }

}

@media (max-width: 700px) {

  .gradient2 {
    top: 100px;
    right: -160px;
    transform: scale(0.6);
  }

  .gradient5 {
    bottom: -120px;
    left: 50%;
    transform: translate(-50%);
  }

  .mainLeft {
    margin: -80px 0 0 50px;
    transform: scale(1);
  }

  .qualitiesContainer {
    width: 135vw;
    transform: scale(0.65);
    margin: 60px 0 -20px -120px;
  }

  .carousel {
    transform: scale(0.8);
    margin: -250px auto 100px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 -40px;
    transform: scale(0.9);
    width: 115vw;
  }

  .footer {
    transform: scale(1);
  }

  .footerTop {
    width: 140vw;
    transform: scale(0.65);
    margin: 0 0 0 0;
  }

  .footerLogoLinks {
    width: 400px;
  }

}

@media (max-width: 640px) {

  .gradient2 {
    top: 500px;
    right: -120px;
    transform: scale(0.7);
  }

  .gradient3 {
    top: 1400px;
    left: -1400px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1950px;
    right: -381px;
    transform: scale(0.5);
  }

  .gradient5 {
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
  }

  .hoverMenu {
    padding: 0 20px 0 0;
    width: 45vw;
  }

  .mainLeft {
    margin: -80px auto 0 auto;
    transform: scale(0.85);
  }

  .mainStars {
    margin: 80px auto -20px auto;
    z-index: 0;
  }

  .qualitiesContainer {
    transform: scale(1);
    margin: 100px auto 0 auto;
    flex-direction: column;
    width: 400px;
    align-items: center;
  }

  .modulesContainerExternal {
    transform: translateX(-76%) scale(0.42);
    margin-top: -900px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 225vw;
  }

  .modulesContainer h1 {
    transform: scale(1.5);
  }

  .modulesContainerText1 {
    transform: scale(1.5);
    margin: 70px 0 50px 0;
  }

  .logosContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    height: 400px;
    transform: scale(1.25);
    margin: 100px 0 100px 0;
    width: 500px;
  }

  .modulesContainerText2 {
    font-size: 38px;
    width: 730px;
  }

  .modulesDetails {
    width: 100%;
    transform: scale(1.1);
    margin: 50px auto 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 1800px;
  }

  .modulesDetailsContainerInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    transform: scale(1.15);
    height: 350px;
  }

  .aboutPoint {
    margin: 100px 0 -225px 0;
    transform: scale(1.5);
  }
  
  .aboutPoint:hover {
    transform: scale(1.55);
  }

  .carousel {
    transform: scale(0.9);
    margin: -550px auto -50px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 0px;
    transform: scale(0.9);
    width: 110vw;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.9);
    width: 600px;
    margin: 100px auto 0 auto;
  }

  .footerLogoLinks {
    display: flex;
    width: 450px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .footerSubscribe {
    transform: scale(0.85);
    margin: 0 auto 0px auto;
  }

  .footerSocials {
    transform: scale(0.9);
    margin: -10px auto -10px auto;
  }

}

@media (max-width: 580px) {

  .gradient3 {
    top: 1500px;
    left: -1400px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1900px;
    right: -381px;
    transform: scale(0.5);
  }

  .hoverMenu {
    padding: 0 30px 0 0;
    width: 90vw;
  }

  .modulesContainerExternal {
    transform: translateX(-76%) scale(0.42);
    margin-top: -900px;
    margin-bottom: -250px;
  }

  .modulesDetails {
    width: 100vw;
    transform: scale(1);
    margin-bottom: 50px;
  }
  
  .modulesDetailsContainerRA {
    margin-left: 50px;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-mobile.png);
    width: 770px;
    height: 258px;
    margin: 100px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.6);
  }

  .carousel {
    transform: scale(0.9);
    margin: -500px auto -50px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 15px 0 0 -30px;
    transform: scale(0.9);
    width: 118vw;
  }

  .footerTop {
    transform: scale(0.85);
    width: 500px;
    margin: 100px auto 0 auto;
  }

}

@media (max-width: 520px) {

  .gradient3 {
    top: 1400px;
    left: -1400px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1750px;
    right: -381px;
    transform: scale(0.5);
  }

  .mainLeft {
    margin: -100px auto 0 auto;
    transform: scale(0.75);
  }

  .mainStars {
    margin: 30px auto -20px auto;
  }

  .modulesContainerExternal {
    transform: translateX(-76%) scale(0.42);
    margin-top: -850px;
    margin-bottom: -250px;
  }

  .modulesDetails {
    width: 100%;
    transform: scale(0.95);
    margin: -50px 0 0px 0;
  }

  .modulesDetailsContainerRA {
    margin-left: 60px;
  }

  .aboutPoint {
    margin: 100px 0 -225px 0;
    transform: scale(1.4);
  }

  .carousel {
    transform: scale(0.85);
    margin: -500px auto -100px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 15px 0 0 0px;
    transform: scale(1);
    width: 146vw;
    background-color: #FFF;
  }

}

@media (max-width: 480px) {

  .gradient1 {
    top: -700px;
    left: -850px;
    transform: scale(0.8);
  }

  .gradient2 {
    top: 300px;
    right: -160px;
    transform: scale(0.6);
  }

  .gradient3 {
    top: 1200px;
    left: -1550px;
    transform: scale(0.8) rotate(90deg);
    position: absolute;
    z-index: 0;
  }

  .gradient4 {
    top: 1650px;
    right: -375px;
    transform: scale(0.5);
  }

  .hoverMenu {
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 90vw;
    z-index: 9;
    top: 0;
    right: -101vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    overflow-y: auto;
    transition: right 1s ease;
    padding: 0 30px 0 0;
  }
  
  .mainLeft {
    margin: -80px auto 0 auto;
    transform: scale(0.7);
  }

  .mainStars {
    margin: 30px auto -20px auto;
  }

  .modulesContainerExternal {
    transform: translateX(-82%) scale(0.32);
    margin-top: -1270px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 300vw;
  }

  .modulesContainer h1 {
    transform: scale(2);
  }

  .modulesContainerText1 {
    transform: scale(1.9);
    margin: 80px 0 0 0;
  }

  .logosContainer {
    transform: scale(1.9);
    margin: 250px 0 220px 0;
    height: 350px;
  }

  .modulesContainerText2 {
    transform: scale(1.3);
  }

  .modulesDetails {
    width: 100%;
    transform: scale(1.15);
    margin: 100px 0 230px 0;
  }

  .modulesDetailsContainerInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    transform: scale(1.18);
    height: 370px;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-mobile.png);
    width: 770px;
    height: 258px;
    margin: 100px 0 0px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.8);
  }

  .carousel {
    transform: scale(0.8);
    margin: -1000px auto -150px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 15px 0 0 0px;
    transform: scale(1);
    width: 146vw;
    background-color: #FFF;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.8);
    width: 480px;
    margin: 150px auto 0px auto;
  }

  .footerLogoLinks {
    width: 420px;
  }

}

@media (max-width: 430px) {

  .gradient1 {
    top: -850px;
    left: -900px;
    transform: scale(0.7);
  }

  .gradient2 {
    top: 150px;
    right: -240px;
    transform: scale(0.5);
  }

  .gradient3 {
    top: 1300px;
    left: -1500px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1650px;
    right: -375px;
    transform: scale(0.5);
  }

  .mainLeft {
    margin: -150px auto -50px auto;
    transform: scale(0.6);
  }

  .modulesContainerExternal {
    transform: translateX(-82%) scale(0.32);
    margin-top: -1250px;
    margin-bottom: -250px;
  }

  .modulesDetails {
    width: 125%;
    transform: scale(1.15);
    margin: 100px 0 180px 0px;
  }

  .pcMM {
    margin: 0 -100px 0 0;
  }

  .pcRA {
    margin: 0 0 0 -100px;
  }

  .pcDA {
    margin: 0 -100px 0 0;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-320.png);
    width: 584px;
    height: 390px;
    margin: 250px 0 -225px 20px;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(2.1);
  }

  .carousel {
    transform: scale(0.9);
    margin: -850px auto -120px auto;
    width: 100vw;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.8);
    width: 520px;
    margin: 150px 0 0px 0;
  }

  .footerLogoLinks {
    width: 420px;
  }

}

@media (max-width: 415px) {

  .gradient4 {
    top: 1700px;
    right: -375px;
    transform: scale(0.5);
  }

  .header {
    width: 90vw;
  }

  .modulesContainer h1 {
    transform: scale(1.9);
  }

  .modulesDetails {
    width: 100%;
    transform: scale(1.1);
    margin: 100px 0 230px 0;
  }

  .carousel {
    margin: -850px auto -120px auto;
  }

  .footerInput {
    width: 490px;
  }

}

@media (max-width: 370px) {

  .gradient3 {
    top: 1200px;
    left: -1450px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1550px;
    right: -375px;
    transform: scale(0.5);
  }

  .header {
    width: 95vw;
  }

  .headerLogo {
    transform: scale(0.8);
    margin: 0 0 0 0px;
    width: 240px;
    background-repeat: no-repeat;
  }

  .mainLeft {
    margin: -150px auto -80px auto;
    transform: scale(0.55);
  }

  .qualitiesContainer {
    transform: scale(0.9);
    margin: 50px auto 0 auto;
    width: 320px;
  }

  .modulesContainerExternal {
    transform: translateX(-87%) scale(0.21);
    margin-top: -2350px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 450vw;
  }

  .modulesContainer h1 {
    transform: scale(2.5);
    margin: 100px 0 0 0;
  }

  .modulesContainerText1 {
    transform: scale(2.5);
    margin: 100px 0 0 0;
  }

  .logosContainer {
    transform: scale(2.5);
    margin: 400px 0 350px 0;
    height: 350px;
  }

  .modulesContainerText2 {
    transform: scale(1.8);
    margin: 100px 0 100px 0;
  }

  .pcMM {
    display: none;
  }

  .pcRA {
    display: none;
  }

  .pcDA {
    display: none;
  }

  .modulesDetails {
    transform: scale(2);
    margin: 800px 0 1100px 0px;
  }

  .modulesDetailsContainerMM {
    margin: 0 0 0 0;
  }

  .modulesDetailsContainerRA {
    margin: 0 0 0 0;
  }

  .modulesDetailsContainerDA {
    margin: 0 0 0 0;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-320.png);
    width: 584px;
    height: 390px;
    margin: 200px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(2.6);
  }

  .carousel {
    transform: scale(0.9);
    margin: -1900px auto -100px auto;
    width: 100vw;
  }

  .carouselTitle {
    font-size: 40px;
  }

  .carouselClients {
    margin: 15px 0 0 0px;
    transform: scale(1);
    width: 225vw;
    background-color: #FFF;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.78);
    width: 520px;
    margin: 150px 0 -25px 0;
  }

  .footerLogoLinks {
    width: 380px;
  }

  .footerInput {
    width: 450px;
  }

}

@media (max-width: 320px) {

  .gradient1 {
    top: -800px;
    left: -920px;
    transform: scale(0.7);
  }

  .gradient3 {
    top: 1150px;
    left: -1700px;
    transform: scale(1) rotate(90deg);
  }

  .gradient4 {
    top: 1600px;
    right: -375px;
    transform: scale(0.8);
  }

  .gradient5 {
    bottom: -85px;
    left: 50%;
    transform: translate(-50%);
  }

  .header {
    width: 99vw;
    z-index: 1;
  }

  .headerLogo {
    transform: scale(0.8);
    margin: 0 0 0 0px;
    width: 240px;
  }

  .headerHamburger {
    transform: scale(0.7);
    margin: 0 0 0 -50px;
  }

  .mainLeft {
    margin: -220px auto -120px auto;
    transform: scale(0.45);
  }

  .mainLeft p {
    transform: scale(1.5);
    width: 390px;
    margin: 0 0 100px 100px;
  }

  .qualitiesContainer {
    transform: scale(0.8);
    margin: 50px auto 0 auto;
    width: 320px;
  }

  .modulesContainerExternal {
    transform: translateX(-87%) scale(0.21);
    margin-top: -2800px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 450vw;
  }

  .modulesContainer h1 {
    transform: scale(2.1);
  }

  .modulesContainerText1 {
    transform: scale(2.2);
  }

  .modulesDetails {
    transform: scale(2.2);
    margin: 900px 0 1100px 0px;
  }

  .modulesDetailsContainerMM {
    margin: -50px 0 0 0;
  }

  .modulesDetailsContainerRA {
    margin: -200px 0 -200px 0;
  }

  .modulesDetailsContainerDA {
    margin: 0 0 0 0;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-vertical.png);
    width: 300px;
    height: 665px;
    margin: 900px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(4);
    background-repeat: no-repeat;
  }

  .carousel {
    transform: scale(0.9);
    margin: -2200px auto -50px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 -50px;
    transform: scale(0.9);
    width: 260vw;
  }

  .footerTop {
    transform: scale(0.7);
    width: 320px;
    margin: 50px 0 -40px -80px;
  }

  .footerLogoLinks {
    width: 380px;
    margin: 0 0 0 30px;
  }

  .footerButton {
    transform: scale(1.2);
    margin: 5px 0 0 20px;
  }

}