.gradient1 {
  background-image: url(../assets/gradient1.png);
  width: 1400px;
  height: 2000px;
  position: absolute;
  top: -700px;
  left: -820px;
  z-index: 0;
}

.gradient2 {
  background-image: url(../assets/gradient2.png);
  width: 800px;
  height: 1400px;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 0;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 180px;
  width: 76vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.headerLogo {
  background-image: url(../assets/logo-reanimate.png);
  width: 240px;
  height: 87px;
}

.headerHamburger {
  background-image: url(../assets/hamburger.png);
  width: 91px;
  height: 97px;
  display: none;
  cursor: pointer;
}

.hoverMenu {
  position: fixed;
  background-color: #000;
  height: 100%;
  width: 40vw;
  z-index: 9;
  top: 0;
  right: -101vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  overflow-y: auto;
  transition: right 1s ease;
  padding: 0 30px 0 0;
}

.hoverMenu.open {
  right: -1vw;
}

.menuClose {
  background-image: url(../assets/x-pink.png);
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 50px 30px 30px 0;
  transition: 0.5s;
}

.menuClose:hover {
  background-image: url(../assets/x-white.png);
}

.menuLinks {
  margin: 15px 15px 0 0;
}

.menuTopic {
  margin: 0 15px 25px 0;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.menuTopic:hover {
  color: #E8336A;
}

.menuLoginButton {
  background-image: url(../assets/loginbutton.png);
  width: 178px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
  margin: 50px 0 50px 3px;
}

.menuLoginButton:hover {
  background-image: url(../assets/loginbutton-white.png);
}

.menuSocials {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 30px 0 0;
}

.headerTopicsContainer {
  display: flex;
  align-items: center;
}

.headerTopic {
  font-size: 18px;
  margin: 0 35px 0 0;
  cursor: pointer;
  font-family: FiraSans;
}

.headerTopic:hover {
  color: #E8336A;
  font-weight: bold;
}

.headerLoginButton {
  background-image: url(../assets/loginbutton.png);
  width: 178px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
}

.headerLoginButton:hover {
  background-image: url(../assets/loginbutton-white.png);
}

.mainFirstSection {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.mainLeft {
  margin: 0 0 0 100px;
}

.mainLeft p {
  font-size: 24px;
  line-height: 30px;
  width: 540px;
  margin: -40px 0 80px 0;
}

.mainText {
  background-image: url(../assets/maintext.png);
  width: 626px;
  height: 287px;
  margin: 100px 0 50px 0;
  z-index: 1;
}

.mainContrateButton {
  background-image: url(../assets/contratebutton.png);
  width: 375px;
  height: 76px;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.mainContrateButton:hover {
  background-image: url(../assets/contratebutton-white.png);
}

.mainRight {
  width: 814px;
}

.mainAutomatizeArt {
  background-image: url(../assets/automatizese.png);
  width: 502px;
  height: 571px;
  margin: 70px 0 0 250px;
  position: absolute;
  z-index: 1;
}

.mainStars {
  background-image: url(../assets/stars.png);
  width: 126px;
  height: 30px;
  margin: 100px auto 0 auto;
  z-index: 1;
}

.qualitiesContainer {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  z-index: 1;
  margin: 100px auto 0 auto;
  font-family: FiraSans;
}

.qualitiesContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualitiesContainer h2 {
  text-align: center;
  margin: 30px 0 -20px 0;
  font-size: 32px;
  line-height: 38px;
}

.qualitiesContainer p {
  width: 313px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}

.iconCheck {
  background-image: url(../assets/icon_check.png);
  width: 98px;
  height: 89px;
  margin: 0 auto 0 auto;
}

.iconProject {
  background-image: url(../assets/icon_project.png);
  width: 87px;
  height: 89px;
  margin: 0 auto 0 auto;
}

.iconClock {
  background-image: url(../assets/icon_clock.png);
  width: 83px;
  height: 84px;
  margin: 0 auto 0 auto;
}

.gradient3 {
  background-image: url(../assets/gradient3.png);
  width: 2380px;
  height: 1700px;
  position: absolute;
  top: 1100px;
  left: -700px;
}

.gradient4 {
  background-image: url(../assets/gradient4.png);
  width: 1500px;
  height: 1800px;
  position: absolute;
  top: 2200px;
  right: 0px;
}

.modulesContainerExternal {
  z-index: 0;
}

.modulesContainer {
  width: 80vw;
  margin: 100px auto 0 auto;
  background-color:rgba(245, 245, 245, 0.5);
  border-radius: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 100px;
  box-sizing: border-box;
  font-family: FiraSans;
}

.modulesContainer h1 {
  color: #E8336A;
  font-size: 48px;
  margin: 0 0 -20px 0;
  line-height: 48px;
}

.modulesContainerText1 {
  font-size: 32px;
  line-height: 38px;
}

.logosContainer {
  display: flex;
  justify-content: space-between;
  width: 1235px;
  margin: 30px 0 30px 0;
}

.logoMM {
  background-image: url(../assets/logo_mm.png);
  width: 422px;
  height: 100px;
}

.logoRA {
  background-image: url(../assets/logo_ra.png);
  width: 381px;
  height: 100px;
}

.logoDA {
  background-image: url(../assets/logo_da.png);
  width: 372px;
  height: 100px;
}

.modulesContainerText2 {
  font-size: 24px;
  width: 470px;
  text-align: center;
}

.modulesDetails p {
  font-size: 24px;
  width: 470px;
}

.modulesDetailsContainerMM {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerRA {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerDA {
  display: flex;
  margin: 75px 0 0 0;
}

.modulesDetailsContainerInfos {
  padding: 30px 0 0 0;
}

.pcMM {
  background-image: url(../assets/pc-mm.png);
  width: 658px;
  height: 442px;
}

.pcRA {
  background-image: url(../assets/pc-ra.png);
  width: 658px;
  height: 442px;
}

.pcDA {
  background-image: url(../assets/pc-da.png);
  width: 658px;
  height: 442px;
}

.buttonMM {
  background-image: url(../assets/button-mm.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s;
}

.buttonMM:hover {
  background-image: url(../assets/button-mm-white.png);
}

.buttonRA {
  background-image: url(../assets/button-ra.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s;
}

.buttonRA:hover {
  background-image: url(../assets/button-ra-white.png);
}

.buttonDA {
  background-image: url(../assets/button-da.png);
  width: 375px;
  height: 76px;
  cursor: pointer;
  transition: 0.5s
}

.buttonDA:hover {
  background-image: url(../assets/button-da-white.png);
}

.aboutPoint {
  background-image: url(../assets/about-point.png);
  width: 922px;
  height: 258px;
  margin: 100px 0 -225px 0;
  cursor: pointer;
  transition: 1.5s;
}

.aboutPoint:hover {
  transform: scale(1.05);
}

.carousel {
  margin: 250px auto 250px auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-x: hidden;
}

.carouselTitle {
  margin: 0 auto 50px auto;
  color: #E8336A;
  font-size: 48px;
  font-family: FiraSans;
}

.carouselClients {
  display: flex;
  margin: 0 0 0 300px;
}

.client1 {
  background-image: url(../assets/clients/client1.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client2 {
  background-image: url(../assets/clients/client2.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client3 {
  background-image: url(../assets/clients/client3.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client4 {
  background-image: url(../assets/clients/client4.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client5 {
  background-image: url(../assets/clients/client5.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client6 {
  background-image: url(../assets/clients/client6.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client7 {
  background-image: url(../assets/clients/client7.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client8 {
  background-image: url(../assets/clients/client8.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client9 {
  background-image: url(../assets/clients/client9.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client10 {
  background-image: url(../assets/clients/client10.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client11 {
  background-image: url(../assets/clients/client11.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.client12 {
  background-image: url(../assets/clients/client12.png);
  width: 170px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.gradient5 {
  background-image: url(../assets/gradient5.png);
  width: 1920px;
  height: 600px;
  position: absolute;
  top: 4250px;
  right: 0px;
}

.footer {
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: FiraSans;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  width: 57vw;
}

.footerTop p {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.footer p:hover {
  color: #E8336A;
  font-weight: bold;
}

.footerLogoLinks {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;
}

.footerLogo {
  background-image: url(../assets/logo-reanimate-branco.png);
  width: 208px;
  height: 76px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.footerInput {
  width: 557px;
  height: 58px;
  border-radius: 29px;
  border: 1px solid #E8336A;
  background-color:rgba(245, 245, 245, 0.5);
  color: #FFFFFF;
  font-size: 18px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin: 0 0 15px 0;
}

.footerButton {
  background-image: url(../assets/inscreverbutton.png);
  width: 182px;
  height: 42px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.footerButton:hover {
  background-image: url(../assets/inscreverbutton-pink.png);
}

.footerLine {
  width: 65vw;
  height: 1px;
  background-color: #FFFFFF;
  margin: 25px 0 25px 0;
}

.footerSocials {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 0;
}

.footerFace {
  background-image: url(../assets/logo-facebook.png);
  width: 46px;
  height: 46px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.footerFace:hover {
  background-image: url(../assets/logo-facebook-pink.png);
}

.footerInsta {
  background-image: url(../assets/logo-instagram.png);
  width: 47px;
  height: 47px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.footerInsta:hover {
  background-image: url(../assets/logo-instagram-pink.png);
}


.footerLinkedin {
  background-image: url(../assets/logo-linkedin.png);
  width: 47px;
  height: 47px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.footerLinkedin:hover {
  background-image: url(../assets/logo-linkedin-pink.png);
}


.footerLegal {
  font-size: 14px;
  user-select: none;
  margin: 25px 0 0 0;
}

@media (max-width: 1680px) {

  .gradient2 {
    top: 100px;
    right: 0px;
    z-index: 0;
  }

  .gradient3 {
    top: 1100px;
    left: -880px;
  }

  .gradient4 {
    top: 2200px;
    right: 0px;
  }

  .gradient5 {
    top: 4255px;
    right: 0;
  }

  .header {
    width: 84vw;
  }

  .headerTopic {
    margin: 0 25px 0 0;
  }

  .footerTop {
    width: 70vw;
  }

}

@media (max-width: 1500px) {

  .gradient2 {
    top: 100px;
    right: -1px;
  }

  .gradient3 {
    top: 900px;
    left: -1020px;
  }

  .gradient4 {
    top: 1900px;
    right: -76px;
    transform: scale(0.9);
  }

  .gradient5 {
    top: 3950px;
    background-image: url(../assets/gradient5-2.png);
    width: 1366px;
    height: 550px;
    left: 5px;
    transform: scale(1.19);
  }

  .header {
    width: 90vw;
  }

  .headerTopic {
    margin: 0 20px 0 0;
  }

  .mainAutomatizeArt {
    margin: 70px 0 0 0px;
    position: absolute;
    right: 40px;
  }

  .modulesContainerExternal {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    margin-top: -50px;
    margin-bottom: -150px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 100vw;
  }
  
  .carousel {
    transform: scale(0.9);
    margin-bottom: 250px;
  }

  .footerTop {
    width: 75vw;
  }

  .footerLine {
    width: 80vw;
    margin: 25px 0 25px 0;
  }

}

@media (max-width: 1366px) {

  .gradient2 {
    top: 100px;
    right: -7px;
  }

  .gradient3 {
    top: 900px;
    left: -1100px;
  }

  .gradient4 {
    top: 1900px;
    right: -82px;
    transform: scale(0.9);
  }

  .gradient5 {
    background-image: url(../assets/gradient5-2.png);
    width: 1366px;
    height: 550px;
    top: 3760px;
    left: 0px;
    transform: scale(1.01);
  }

  .header {
    width: 91vw;
  }

  .headerTopic {
    margin: 0 15px 0 0;
  }

  .mainLeft {
    margin: 0 0 0 90px;
  }

  .mainAutomatizeArt {
    right: 10px;
  }

  .modulesContainerExternal {
    transform: translateX(-51.7%) scale(0.85);
    margin-top: -120px;
    margin-bottom: -250px;
  }

  .carousel {
    transform: scale(0.9);
    margin-bottom: 190px;
    margin-left: -20px;
  }

  .carouselClients {
    display: flex;
    margin: 0 0 0 200px;
  }

  .footerTop {
    margin: 0 0 0 75px;
  }

}

@media (max-width: 1280px) {

  .gradient2 {
    top: 70px;
    right: -72px;
    transform: scale(0.85);
  }

  .gradient3 {
    top: 700px;
    left: -1090px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1650px;
    right: -87px;
    transform: scale(0.9);
  }

  .gradient5 {
    background-image: url(../assets/gradient5-2.png);
    width: 1366px;
    height: 550px;
    top: 3500px;
    left: -40px;
    transform: scale(0.95);
  }

  .header {
    width: 92vw;
  }

  .headerTopic {
    margin: 0 14px 0 0;
  }

  .mainLeft {
    margin: -50px 0 0 70px;
    transform: scale(0.9);
  }

  .mainAutomatizeArt {
    right: 10px;
    margin-top: 30px;
    transform: scale(0.9);
  }

  .mainStars {
    margin: 60px auto 0 auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.85);
  }

  .modulesContainerExternal {
    transform: translateX(-54.5%) scale(0.8);
    margin-top: -200px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 113vw;
  }

  .carousel {
    transform: scale(0.8);
    margin-bottom: 130px;
    margin-left: -30px;
    margin-top: 200px;
  }

  .footerTop {
    width: 80vw;
    margin: 0 0 0 120px;
  }

  .footerLogoLinks {
    width: 430px;
  }

}

@media (max-width: 1024px) {

  .gradient2 {
    top: 0px;
    right: -86px;
    transform: scale(0.8);
  }

  .gradient3 {
    top: 400px;
    left: -1400px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1300px;
    right: -156px;
    transform: scale(0.8);
  }

  .gradient5 {
    top: 3000px;
    left: -199px;
    transform: scale(0.8);
  }

  .header {
    width: 85vw;
    z-index: 1;
  }

  .headerHamburger {
    display: flex;
  }

  .headerTopicsContainer {
    display: none;
  }

  .mainLeft {
    margin: -80px 0 0 5px;
    transform: scale(0.75);
  }

  .mainAutomatizeArt {
    right: -30px;
    margin-top: -10px;
    transform: scale(0.75);
  }

  .mainStars {
    margin: 60px auto 0 auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.7);
    margin-left: -80px;
    margin-top: 50px;
    z-index: 0;
  }

  .modulesContainerExternal {
    transform: translateX(-62.5%) scale(0.65);
    margin-top: -370px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 140vw;
  }

  .aboutPoint {
    background-image: url(../assets/about-point.png);
    width: 922px;
    height: 258px;
    margin: 100px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.3);
  }
  
  .aboutPoint:hover {
    transform: scale(1.35);
  }

  .carousel {
    transform: scale(0.75);
    margin-bottom: 30px;
    margin-left: -230px;
    margin-top: 10px;
  }

  .carouselClients {
    margin: 0 0 0 100px;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    transform: scale(0.85);
    margin-top: 30px;
  }

  .footerLogoLinks {
    width: 400px;
  }

  .footerLine {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .footerSocials {
    transform: scale(0.9);
    margin: -10px 0 -10px 0;
  }

}

@media (max-width: 768px) {

  .gradient2 {
    top: 50px;
    right: -165px;
    transform: scale(0.6);
  }

  .gradient3 {
    top: 400px;
    left: -1490px;
    transform: scale(0.9);
  }

  .gradient4 {
    top: 1100px;
    right: -380px;
    transform: scale(0.5);
  }

  .gradient5 {
    top: 2550px;
    left: -320px;
    transform: scale(0.6);
  }

  .mainLeft {
    margin: -80px 0 0 70px;
    transform: scale(1);
  }

  .mainAutomatizeArt {
    display: none;
  }

  .mainStars {
    margin: 80px auto -20px auto;
    z-index: 1;
  }

  .qualitiesContainer {
    transform: scale(0.6);
    margin-left: -200px;
    margin-top: 50px;
  }

  .modulesContainerExternal {
    transform: translateX(-71.5%) scale(0.5);
    margin-top: -580px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 188vw;
  }

  .carousel {
    transform: scale(0.75);
    margin: -200px auto -70px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 -40px;
    transform: scale(0.85);
    width: 115vw;
  }

  .footer {
    transform: scale(0.9);
  }

  .footerTop {
    width: 123vw;
    margin-top: 100px;
    margin-left: 30px;
    transform: scale(0.7);
  }

  .footerLogoLinks {
    width: 370px;
  }

  .footerLine {
    margin-top: -10px;
  }

  .footerSocials{
    transform: scale(0.8);
    margin: -20px 0 -10px 0;
  }

}

@media (max-width: 640px) {

  .gradient2 {
    top: 400px;
    right: -166px;
    transform: scale(0.6);
  }

  .gradient3 {
    top: 1400px;
    left: -1400px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1800px;
    right: -381px;
    transform: scale(0.5);
  }

  .gradient5 {
    background-image: url(../assets/gradient5-3.png);
    width: 640px;
    height: 640px;
    top: 3450px;
    left: 0px;
    transform: scale(1.02);
  }

  .hoverMenu {
    padding: 0 20px 0 0;
    width: 45vw;
  }

  .mainLeft {
    margin: -80px auto 0 auto;
    transform: scale(0.85);
  }

  .mainStars {
    margin: 80px auto -20px auto;
    z-index: 0;
  }

  .qualitiesContainer {
    transform: scale(1);
    margin: 100px auto 0 auto;
    flex-direction: column;
    width: 400px;
    align-items: center;
  }

  .modulesContainerExternal {
    transform: translateX(-76%) scale(0.42);
    margin-top: -850px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 225vw;
  }

  .modulesContainer h1 {
    transform: scale(1.5);
  }

  .modulesContainer p {
    transform: scale(1.5);
    margin: 70px 0 50px 0;
  }

  .logosContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    transform: scale(1.25);
    margin: 100px 0 100px 0;
  }

  .modulesContainerText2 {
    font-size: 24px;
    width: 460px;
  }

  .modulesDetailsContainerMM {
    margin: 50px 0 100px 0;
  }

  .modulesDetailsContainerDA {
    margin: 50px 0 100px 0;
  }

  .modulesDetailsContainerRA {
    margin: 50px 0 100px 0;
  }

  .buttonMM {
    margin: 70px 0 0 0;
  }

  .buttonRA {
    margin: 70px 0 0 0;
  }

  .buttonDA {
    margin: 70px 0 0 0;
  }

  .aboutPoint {
    margin: 100px 0 -225px 0;
    transform: scale(1.5);
  }
  
  .aboutPoint:hover {
    transform: scale(1.55);
  }

  .carousel {
    transform: scale(0.75);
    margin: -500px auto -20px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 -80px;
    transform: scale(0.85);
    width: 128vw;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(1);
    width: 600px;
    margin: 150px auto 0 auto;
  }

  .footerLogoLinks {
    display: flex;
    width: 475px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footerSubscribe {
    transform: scale(0.85);
    margin: 0 auto 30px auto;
  }

  .footerSocials {
    transform: scale(1);
    margin: 0 auto 0 auto;
  }

}

@media (max-width: 480px) {

  .gradient1 {
    top: -700px;
    left: -850px;
    transform: scale(0.8);
  }

  .gradient2 {
    top: 300px;
    right: -160px;
    transform: scale(0.6);
  }

  .gradient3 {
    top: 1200px;
    left: -1400px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1550px;
    right: -375px;
    transform: scale(0.5);
  }

  .gradient5 {
    top: 3180px;
    left: -80px;
    transform: scale(0.75);
  }

  .hoverMenu {
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 90vw;
    z-index: 9;
    top: 0;
    right: -101vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    overflow-y: auto;
    transition: right 1s ease;
    padding: 0 30px 0 0;
  }
  
  .mainLeft {
    margin: -80px auto 0 auto;
    transform: scale(0.7);
  }

  .mainStars {
    margin: 30px auto -20px auto;
  }

  .modulesContainerExternal {
    transform: translateX(-82%) scale(0.32);
    margin-top: -1200px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 300vw;
  }

  .modulesContainer h1 {
    transform: scale(1.8);
  }

  .modulesContainer p {
    transform: scale(1.7);
    margin: 70px 0 50px 0;
  }

  .logosContainer {
    height: 500px;
    transform: scale(1.3);
    margin: 150px 0 150px 460px;
    align-items: flex-start;
    width: 800px;
  }

  .modulesContainerText2 {
    font-size: 28px;
    width: 540px;
  }

  .modulesDetails {
    width: 1400px;
  }

  .modulesDetailsContainerInfos {
    margin: 50px 0 0 100px;
  }

  .modulesDetailsContainerRA {
    margin: 0 0 100px 100px;
  }

  .modulesDetailsContainerMM p {
    margin: 120px 0 100px 0;
  }

  .modulesDetailsContainerRA p {
    margin: 120px 0 100px 0;
  }

  .modulesDetailsContainerDA p {
    margin: 120px 0 100px 0;
  }

  .pcMM {
    margin: 100px 0 0 0;
  }

  .modulesDetailsContainerRA .pcRA {
    margin: 100px 0 0 50px;
  }

  .modulesDetailsContainerDA .pcDA {
    margin: 100px 0 0 0;
  }

  .logoMM {
    transform: scale(1.5);
  }

  .logoRA {
    transform: scale(1.5);
  }

  .logoDA {
    transform: scale(1.5);
  }

  .aboutPoint {
    background-image: url(../assets/about-point-mobile.png);
    width: 770px;
    height: 258px;
    margin: 100px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.7);
  }
  
  .aboutPoint:hover {
    transform: scale(1.75);
  }

  .carousel {
    transform: scale(0.75);
    margin: -880px auto -135px auto;
    width: 100vw;
  }

  .carouselClients {
    margin: 0 0 0 -170px;
    transform: scale(0.6);
    width: 175vw;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.8);
    width: 480px;
    margin: 150px auto -50px auto;
  }

  .footerLogoLinks {
    width: 420px;
  }

}

@media (max-width: 320px) {

  .gradient1 {
    top: -700px;
    left: -920px;
    transform: scale(0.7);
  }

  .gradient2 {
    top: 200px;
    right: -240px;
    transform: scale(0.4);
  }

  .gradient3 {
    top: 900px;
    left: -1600px;
    transform: scale(0.8) rotate(90deg);
  }

  .gradient4 {
    top: 1200px;
    right: -375px;
    transform: scale(0.5);
  }

  .gradient5 {
    background-image: url(../assets/gradient5-4.png);
    width: 320px;
    height: 550px;
    top: 2800px;
    left: 0px;
    transform: scale(1);
  }

  .header {
    width: 99vw;
    z-index: 1;
  }

  .headerLogo {
    transform: scale(0.8);
    margin: 0 0 0 0px;
    width: 240px;
  }

  .headerHamburger {
    transform: scale(0.7);
    margin: 0 0 0 -50px;
  }

  .mainLeft {
    margin: -220px auto -120px auto;
    transform: scale(0.45);
  }

  .mainLeft p {
    transform: scale(1.5);
    width: 390px;
    margin: 0 0 100px 100px;
  }

  .qualitiesContainer {
    transform: scale(0.8);
    margin: 50px auto 0 auto;
    width: 320px;
  }

  .modulesContainerExternal {
    transform: translateX(-87%) scale(0.21);
    margin-top: -1900px;
    margin-bottom: -250px;
  }

  .modulesContainer {
    margin: 0 auto;
    width: 450vw;
  }

  .modulesContainer h1 {
    transform: scale(2.1);
  }

  .modulesContainer p {
    transform: scale(2.2);
    margin: 100px 0 50px 0;
  }

  .logosContainer {
    height: 600px;
    transform: scale(1.3);
    margin: 250px 0 200px 460px;
    align-items: flex-start;
    width: 800px;
  }

  .logoMM {
    transform: scale(1.8);
  }

  .buttonMM {
    transform: scale(1.5);
  }

  .logoRA {
    transform: scale(1.8);
  }

  .buttonRA {
    transform: scale(1.5);
  }

  .logoDA {
    transform: scale(1.8);
  }

  .buttonDA {
    transform: scale(1.5);
  }

  .modulesContainerText2 {
    font-size: 28px;
    width: 540px;
  }

  .modulesDetails {
    transform: scale(1.09);
    margin: 150px 0 0 -100px;
  }

  .modulesDetailsContainerInfos p {
    margin: 150px 0 150px 0;
  }

  .modulesDetailsContainerMM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }

  .pcMM {
    display: none;
  }

  .modulesDetailsContainerRA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
  }

  .pcRA {
    display: none;
  }

  .modulesDetailsContainerDA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 300px 0;
  }

  .pcDA {
    display: none;
  }

  .aboutPoint {
    background-image: url(../assets/about-point-320.png);
    width: 584px;
    height: 390px;
    margin: 200px 0 -225px 0;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(2.3);
  }
  
  .aboutPoint:hover {
    transform: scale(2.1);
  }

  .carousel {
    transform: scale(0.8);
    margin: -1500px auto 0px auto;
    width: 100vw;
  }

  .carouselTitle {
    width: 300px;
    font-size: 40px;
  }

  .carouselClients {
    margin: 0 0 0 -80px;
    transform: scale(0.8);
    width: 260vw;
  }

  .footerTop {
    flex-direction: column;
    transform: scale(0.7);
    width: 320px;
    margin: 50px 0 -50px -80px;
  }

  .footerSubscribe {
    transform: scale(0.8);
    margin: 0 0 30px -40px;
  }

  .footerSubscribe h2 {
    width: 360px;
  }

}